source http://nuget.org/api/v2

nuget FSharp.Compiler.Service
nuget Http.fs-prerelease
nuget AutoFixture
nuget Newtonsoft.Json

group Build
    source http://nuget.org/api/v2

    nuget FAKE

group Test
    source http://nuget.org/api/v2

    nuget Suave 1.0.0
    nuget Fuchu
    nuget Unquote
