source http://nuget.org/api/v2

nuget FSharp.Compiler.Service
nuget Http.fs-prerelease

group Build
	source http://nuget.org/api/v2

	nuget FAKE

group Test
	source http://nuget.org/api/v2

	nuget Fuchu
	nuget Unquote
